test.parameters.json
# ignore deployment real inputs,  priVate keys and outputs
/scripts/deploy/src/**/*.pem
/scripts/deploy/src/clients/output/*.json
/scripts/deploy/src/cluster/output/*.json
/scripts/deploy/src/cluster/input/args.json
/scripts/deploy/src/client/input/args.json
/scripts/deploy/src/knife/bootstrapper
/scripts/deploy/src/knife/cookiecutter-knife/cookiecutter.json
/scripts/deploy/src/knife/input
